.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
src-i386/*

tests/testthat*.json
junk/
build
bin
.clangd
*.h5
vcpkg_installed
*desktop.ini
*.DS_Store
*Icon*
.vscode*
.idea*
junk*
docs
